# restore old search bar
browser.search.showOneOffButtons = false

# enable MSE
media.mediasource.enabled = true
media.mediasource.mp4.enabled = true
media.mediasource.webm.enabled = true
media.fragmented-mp4.enabled = true
media.fragmented-mp4.exposed = true
media.fragmented-mp4.ffmpeg.enabled = true
media.fragmented-mp4.gmp.enabled = true
media.fragmented-mp4.use-blank-decoder = false

# fullscreen api
full-screen-api.allow-trusted-requests-only = false
full-screen-api.approval-required = false
full-screen-api.transition-duration.enter = "0 0"
full-screen-api.transition-duration.leave = "0 0"
full-screen-api.warning.delay = 0
full-screen-api.warning.timeout = 0

# cache in RAM
browser.cache.disk.enable = false
browser.cache.memory.enable = true
browser.cache.memory.capacity = 102400

# hardware acceleration (environment shold have MOZ_USE_OMTC=1)
layers.acceleration.force-enabled = true
layers.offmainthreadcomposition.enabled = true
